<div style="display: flex; justify-content: center; align-items: center; height: 90%;">
    <div class="container" style="width: 80%; background-color: bisque;">
        <h2 style="text-align: center;">
            Create Author Account
        </h2>
        <form style=" justify-content: center; align-items: center;" [formGroup]="createAuthorForm">
            <mat-form-field style="width: 80%; padding-left: 10%; padding-right: 10%;">
                <mat-label>Username</mat-label>
                <input matInput type="email" [formControl]="usernameControl" [errorStateMatcher]="matcher"
                    placeholder="Example@example.com" />
                @if (usernameControl.hasError('email') && !usernameControl.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
                }
                @if (usernameControl.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field style="width: 80%; padding-left: 10%; padding-right: 10%;">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordControl"
                    [errorStateMatcher]="matcher" />
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (passwordControl.hasError('pattern') && !passwordControl.hasError('required')) {
                <mat-error>Password not <strong>Strong</strong> enough!</mat-error>
                }
                @if (passwordControl.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field style="width: 80%; padding-left: 10%; padding-right: 10%;">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                    [formControl]="confirmPasswordControl" [errorStateMatcher]="matcher" />
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (confirmPasswordControl.hasError('pattern') && !confirmPasswordControl.hasError('required')) {
                <mat-error>Password not <strong>Strong</strong> enough!</mat-error>
                }
                @if (confirmPasswordControl.hasError('required')) {
                <mat-error>Confirm Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
        </form>
        <div style="display: grid; justify-content: center; width: 100%; padding: 10px;">
            @if (createAuthorForm.valid && (passwordControl.value !== confirmPasswordControl.value)) {
            <mat-error>Password and Confirm Password <strong>mismatched!</strong></mat-error>
            }
        </div>
        <div style="display: grid; justify-content: center; width: 100%; padding: 10px;">
            <button mat-flat-button color="primary" style="text-align: center;" type="button" (click)="createAccount()"
                [disabled]="(!createAuthorForm.valid || ( passwordControl.value !== confirmPasswordControl.value))">
                Create Account
            </button>
        </div>
    </div>
</div>

<div id="overlay" *ngIf="showLoading">
    <mat-spinner></mat-spinner>
</div>
