<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
        <div class="routerLinkItem" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <button routerLink="/" mat-button style="text-align: center; color: blue; width: 100%;" type="button">
                View All Book
            </button>
        </div>
        <div *ngIf="userRole == 'Admin'" class="routerLinkItem" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <button routerLink="/view-all-user" mat-button style="text-align: center; color: blue; width: 100%;" type="button">
                View All User
            </button>
        </div>
        <div *ngIf="userRole == 'Admin'" class="routerLinkItem" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <button routerLink="/add-user" mat-button style="text-align: center; color: blue; width: 100%;" type="button">
                Add User
            </button>
        </div>
        <div class="routerLinkItem" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <button mat-button style="text-align: center; color: blue; width: 100%;" type="button">
                Logout
            </button>
        </div>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
<mat-toolbar class="example-footer">
    <mat-icon>copyright</mat-icon>
    <strong>Copyright 2024</strong>
</mat-toolbar>