.example-container {
    position: absolute;
    height: 90%;
    top: 5%;
    bottom: 5%;
    left: 0%;
    right: 0%;
    z-index: 1;
}

.example-sidenav {
    width: 20%;
    background: bisque;
}

.example-footer {
    position: fixed;
    height: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

.routerLinkItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-link{
    background-color: lightgray;
}

.mat-drawer.mat-drawer-side {
    z-index: 1;
}